@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
}



.available {
    background-color: #ff545f !important;
}

#api_status{
    margin-right:30px;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color: #cccccc;
}
